<div class="container-fluid " style="align-items: center;display: flex;flex-direction: column; margin: 15px; box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;">
        <div class="form-group-flex ">
          <label class="label-principal" >Nombre:</label>
          <label >{{laureate?.knownName?.en}}</label>
        </div>
        <div class="form-group-flex ">
          <label class="label-principal" >Contribución:</label>
          <label  >{{laureate?.contribution}}</label>
        </div>
        <div class="form-group-flex ">
          <label class="label-principal" >Motivos:</label>
          <label  >{{laureate?.motivation?.en}}</label>
        </div>
</div>
